<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKXipBPTHZxsIWjirc6aEfy9Yl1YwoIAY</string>
	<key>GCM_SENDER_ID</key>
	<string>377519413246</string>
	<key>CLIENT_ID</key>
    <string>1018758836281-dtcvbsg0ipsii7ddbj1n5sutp49scn06.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1018758836281-dtcvbsg0ipsii7ddbj1n5sutp49scn06</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upsync.studybuddy</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-d4472</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-d4472.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377519413246:ios:1c091a7dcf20c456a792af</string>
</dict>
</plist>